.orders-container {
}

.orders-filters-row {
    margin-bottom: 20px;
    display: flex;
}

.order-filter-select {
    min-width: 200px;
}

.order-customer-name {
    font-weight: bold;
}

.order-customer-phone {
    font-size: 0.85em;
    opacity: 0.7;
}

.order-grand-total {
    font-weight: bold;
    color: var(--primary);
}

.order-status-select {
    min-width: 150px;
}
